body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/background.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    position: fixed; top: 0px;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.692);
    margin-bottom: 20px;
    

}
h2{
    position: center;
    font-size: 25px;
    color:rgb(0, 0, 0);
    margin-bottom: 20px;

}
#infoBox {
  background-color: white;
  border: 1px solid #0000003d;
  border-radius: 50px;
  color: #424242;
  cursor: text;
  font-weight: bold;
  padding: 5px 50px;
  width: 100%;
  outline: none;
  
}
.select-box {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur( 51px );
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0);
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
.select-btn{
    border-radius: 5px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
button {
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    background: black;
    color: #ffffff;
    margin-top: 10px;
    border: none;
}

h3 { 
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;

}
.efeito {
    background: rgb(0, 0, 0);
}
.efeito:hover {
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: inset 0 0 0 3px black;
}
.register {
    display: flex;
    justify-content: top;
    align-items: left;
    flex-direction: column;
    background-image: url(images/background.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}